.login-bd {
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
    height: 600px;
    width: 500px;
    margin-bottom: 50px;
    border: 2px solid #831010;
    background-color: var(--color-1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
    margin-right: 20px;
    width: 350px;
}

.form-group label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #831010;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group input[type="password"]{
    border: 1px solid #831010;
    background-color: var(--color-2);
    color: white;
}

.form-group input[type="text"]{
    border: 1px solid #831010;
    background-color: var(--color-2);
    color: white;
}

.form-group input[type="email"]{
    border: 1px solid #831010;
    background-color: var(--color-2);
    color: white;
}

.form-login {
    margin-top: 100px;
}

.form-group a {
    text-decoration: none;
}

.btn {
    margin-top: 20px;
    display: block;
    width: 107%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
}

#masuk {
    background-color: #009F00;
    color: white;
}

#daftar {
    background-color: #831010;
    color: white;
}

:root {
    --color-1: black;
    --color-2: #0c0c0e;
    --color-3: white;
  
  }
  
  .light-mode {
    --color-1: silver;
    --color-2: white;
    --color-3: black;
  }

  @media (max-width : 425px){
    .login-bd {
        height: 500px;
        width: 300px;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-group {
        margin-bottom: 1rem;
        margin-right: 20px;
        width: 200px;
    }
  }